
services:
  mongodb-public1:
    mem_limit: 1g
    image: docker.1ms.run/library/mongo:latest
    container_name: mongodb-public1
    networks:
      - my-network
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongodb-public1
      MONGO_INITDB_ROOT_PASSWORD: mongodb-public1
    volumes:
      - /www/dk_project/dk_app/chrelyonly-mongodb/app/data1:/data/db


  mongodb-public2:
    mem_limit: 1g
    image: docker.1ms.run/library/mongo:latest
    container_name: mongodb-public2
    networks:
      - my-network
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongodb-public2
      MONGO_INITDB_ROOT_PASSWORD: mongodb-public2
    volumes:
      - /www/dk_project/dk_app/chrelyonly-mongodb/app/data2:/data/db



networks:
  my-network:  # 定义自定义网络
    name: my-network  # 自定义网络名称，可选
    driver: bridge    # 使用桥接网络，默认 Docker 网络模式
    ipam:             # IP 地址管理（IP Address Management）
      driver: default # 默认 IPAM 驱动
      config:         # 子网配置，可配置多个
        - subnet: 172.20.0.0/16  # 自定义子网段
          gateway: 172.20.0.1    # 子网默认网关
          aux_addresses:         # 预留 IP 地址
            host1: 172.20.0.2
            host2: 172.20.0.3